{% extends "hrms/index.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GST Bill Pending</title>
</head>
<style>
</style>

<body>
    <div class="container mt-5">
        <h3 class="text-center text-primary">GST Bill Pending</h1>
            <hr>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="clientName" class="form-label">From Date</label>
                            <input type="date" class="form-control" id="clientName" name="clientName" required>
                        </div>
                        
                        <button type="submit" class="btn btn-md btn-primary">View</button>
                        <button type="submit" class="btn btn-md btn-primary">Download Excel</button>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="division" class="form-label">To Date</label>
                            <input type="date" class="form-control" id="division" name="division" required>
                        </div>
                    </div>
                </div>    
            </form>
    
   

    <div class="table-responsive">
        <table class="table table-bordered mt-4 text-center table-striped">
            <thead>
                <tr>
                    <th scope="col">Sl No</th>
                    <th scope="col">Bill No</th>
                    <th scope="col">Bill Date</th>
                    <th scope="col">Bill Month</th>
                    <th scope="col">Client-Division</th>
                    <th scope="col">Bill Amt</th>
                    <th scope="col">Before GST</th>
                    <th scope="col">Taxable Value</th>
                    <th scope="col">GST</th>
                    <th scope="col">Exemped Ami.</th>
                    <th scope="col">GST Recive</th>
                    <th scope="col">GST TDS</th>
                    <th scope="col">Total GST</th>
                    <th scope="col">Balance</th>
                    <th class="w-25" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th scope="row">1</th>
                    <td>Client A</td>
                    <td>Division X</td>
                    <td>January 2023</td>
                    <td>100</td>
                    <td>9500</td>
                    <td>2</td>
                    <td>98</td>
                    <td>200000</td>
                    <td>45</td>
                    <td>456</td>
                    <td>45</td>
                    <td>23</td>
                    <td>76</td>
                    <td>
                        <button class="btn btn-primary btn-sm">Remove Pending List</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    </div>

</body>

</html>
{% endblock content %}