{% extends "hrms/index.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Users</title>

    <!-- Js For dob -->
    <script src="/employee/js/dob.js"></script>

    <!-- SweetAlert library cdn -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <style>
        .fade-in {
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

        .fade-in.active {
            opacity: 1;
        }

        /* Add border to the container */
        .custom-border {
            border: 1px solid #ccc;
            padding: 20px;
            /* Add some padding for better appearance */
            border-radius: 8px;
        }
    </style>
</head>

<body>
    <div class="container mt-5 fade-in custom-border">
        <form action="">
            <h3 class="text-center mb-4 text-primary">Add New Users</h3>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="txtUserName" class="form-label">User Name <span class="text-danger">*</span></label>
                        <input name="ctl00$ContentPlaceHolder1$txtUserName" type="text"
                            id="ContentPlaceHolder1_txtUserName" class="form-control" placeholder="User Name" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="ddlUserRole" class="form-label">User Role <span class="text-danger">*</span></label>
                        <select name="ctl00$ContentPlaceHolder1$ddlUserRole" id="ContentPlaceHolder1_ddlUserRole"
                            class="form-select">
                            <option selected="selected" value="0">--Select--</option>
                            <option value="9">APPROVAL EPF</option>
                            <option value="2">ApproveUser</option>
                            <!-- Add more options here -->
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="ddlBranch" class="form-label">Branch<span class="text-danger">*</span></label>
                        <select name="ctl00$ContentPlaceHolder1$ddlBranch" id="ContentPlaceHolder1_ddlBranch"
                            class="form-select">
                            <option selected="selected" value="0">--Select--</option>
                            <option value="5">BEHERAMPUR</option>
                            <option value="1">Head Office</option>
                            <!-- Add more options here -->
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            style="text-decoration: none;"><strong>Add New Brach</strong></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="txtUserId" class="form-label">User ID <span class="text-danger">*</span></label>
                        <input name="ctl00$ContentPlaceHolder1$txtUserId" type="text" maxlength="12"
                            id="ContentPlaceHolder1_txtUserId" class="form-control" placeholder="User ID" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="txtPassword" class="form-label">Password<span class="text-danger">*</span></label>
                        <input name="ctl00$ContentPlaceHolder1$txtPassword" type="password" maxlength="15"
                            id="ContentPlaceHolder1_txtPassword" class="form-control" placeholder="Password" />
                    </div>
                </div>
            </div>

            <!-- <button class="btn btn-primary me-md-2" type="button">Button</button> -->
            <button type="submit" class="btn btn-success me-md-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-send"
                    viewBox="0 0 16 16">
                    <path
                        d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                </svg>
                Save
            </button>
            <button type="button" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
                Cancel
            </button>
        </form>
    </div>

    <!-- Modal For New Branch -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="exampleModalLabel">New Branch</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="" class="form-label">Branch Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-sm">Update</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Add the "active" class to trigger the fade-in animation when the document is ready
        document.addEventListener('DOMContentLoaded', function () {
            const container = document.querySelector('.container.fade-in');
            container.classList.add('active');
        });
    </script>

    <!-- JS for D.O.B -->
    <!-- <script>
        function validateDate() {
            const dobInput = document.getElementById('dob');
            const enteredDate = new Date(dobInput.value);
            const currentDate = new Date();

            if (enteredDate > currentDate) {
                Swal.fire({
                    icon: 'error',
                    title: 'Invalid D.O.B',
                    text: 'Please select a date of birth in the past.'
                });
                dobInput.value = '';
            }
        }
    </script> -->


</body>

</html>
{% endblock content %}